<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Footer Area Start -->
<div class="footer-area" th:fragment="footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-md-30px mb-lm-30px">
            <div class="single-wedge">
              <div class="footer-logo">
                <a href="../index.html"><img alt="logo.jpg" class="img-responsive"
                                             th:src="@{/assets/images/logo/logo.jpg}"/></a>
              </div>
              <p class="text-infor">We are a team of designers and developers that create high quality
                HTML template</p>
              <div class="need_help">
                <p class="add"><span class="address">Address:</span> 4710-4890 Breckinridge St,
                  Fayetteville</p>
                <p class="mail"><span class="email">Email:</span> <a
                        href="mailto:support@hasthemes.com">support@hasthemes.com</a></p>
                <p class="phone"><span class="call us">Call Us:</span> <a href="tel:(+800)123456789">
                  (+800)123456789</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2 col-sm-6 mb-md-30px mb-lm-30px">
            <div class="single-wedge">
              <h4 class="footer-herading">Information</h4>
              <div class="footer-links">
                <ul>
                  <li><a href="#">Delivery</a></li>
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="#">Secure Payment</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="#">Sitemap</a></li>
                  <li><a href="#">Stores</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2 col-sm-6 mb-sm-30px mb-lm-30px">
            <div class="single-wedge">
              <h4 class="footer-herading">CUSTOM LINKS</h4>
              <div class="footer-links">
                <ul>
                  <li><a href="#">Legal Notice</a></li>
                  <li><a href="#">Prices Drop</a></li>
                  <li><a href="#">New Products</a></li>
                  <li><a href="#">Best Sales</a></li>
                  <li><a href="../login.html">Login</a></li>
                  <li><a href="my-account.html">My Account</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 ">
            <div class="single-wedge">
              <h4 class="footer-herading">From Our Blog</h4>
              <div class="footer-blog-slider">
                <div class="footer-blog-slider-wrapper slider-nav-style-3 ">
                  <!-- Single-item -->
                  <div class="single-slider-item">
                    <div class="footer-blog-post d-flex mb-30px">
                      <div class="footer-blog-post-top">
                        <div class="post-thumbnail">
                          <a href="blog-single-left-sidebar.html">
                            <img alt="" th:src="@{/assets/images/blog-image/blog-8.jpg}">
                          </a>
                        </div>
                      </div>
                      <div class="footer-blog-content">
                        <h4><a href="blog-single-left-sidebar.html">This is First Post For
                          XipBlog</a></h4>
                        <div class="footer-blog-meta">
                          <span class="autor">Posted by <a href="#">Demo Hasthemes</a> </span>
                          <span class="date">Jun 29,2020</span>
                        </div>
                      </div>
                    </div>
                    <div class="footer-blog-post">
                      <div class="footer-blog-post-top">
                        <div class="post-thumbnail">
                          <a href="blog-single-left-sidebar.html">
                            <img alt="" th:src="@{/assets/images/blog-image/blog-9.jpg}">
                          </a>
                        </div>
                      </div>
                      <div class="footer-blog-content">
                        <h4><a href="blog-single-left-sidebar.html">This is Secound Post For
                          XipBlog</a></h4>
                        <div class="footer-blog-meta">
                          <span class="autor">Posted by <a href="#">Demo Hasthemes</a> </span>
                          <span class="date">Jun 29,2020</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Single-item -->
                  <div class="single-slider-item">
                    <div class="footer-blog-post d-flex mb-30px">
                      <div class="footer-blog-post-top">
                        <div class="post-thumbnail">
                          <a href="blog-single-left-sidebar.html">
                            <img alt="" th:src="@{/assets/images/blog-image/blog-10.jpg}">
                          </a>
                        </div>
                      </div>
                      <div class="footer-blog-content">
                        <h4><a href="blog-single-left-sidebar.html">This is Third Post For
                          XipBlog</a></h4>
                        <div class="footer-blog-meta">
                          <span class="autor">Posted by <a href="#">Demo Hasthemes</a> </span>
                          <span class="date">Jun 29,2020</span>
                        </div>
                      </div>
                    </div>
                    <div class="footer-blog-post">
                      <div class="footer-blog-post-top">
                        <div class="post-thumbnail">
                          <a href="blog-single-left-sidebar.html">
                            <img alt="" th:src="@{/assets/images/blog-image/blog-11.jpg}">
                          </a>
                        </div>
                      </div>
                      <div class="footer-blog-content">
                        <h4><a href="blog-single-left-sidebar.html">This is Fourth Post For
                          XipBlog</a></h4>
                        <div class="footer-blog-meta">
                          <span class="autor">Posted by <a href="#">Demo Hasthemes</a> </span>
                          <span class="date">Jun 29,2020</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Single-item end -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-paymet-warp d-flex">
              <div class="heading-info">Payment:</div>
              <div class="payment-way"><img alt=""
                                            class="payment-img img-responsive"
                                            th:src="@{/assets/images/icons/payment.png}"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-social-icon d-flex">
              <div class="heading-info">Follow Us:</div>
              <div class="social-icon">
                <ul>
                  <li class="facebook">
                    <a href="#"><i class="ion-social-facebook"></i></a>
                  </li>
                  <li class="twitter">
                    <a href="#"><i class="ion-social-twitter"></i></a>
                  </li>
                  <li class="google">
                    <a href="#"><i class="ion-social-google"></i></a>
                  </li>
                  <li class="youtube">
                    <a href="#"><i class="ion-social-youtube"></i></a>
                  </li>
                  <li class="instagram">
                    <a href="#"><i class="ion-social-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-tags">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="tag-content">
              <ul>
                <li><a href="#">Online Shopping</a></li>
                <li><a href="#">Promotions</a></li>
                <li><a href="#">My Orders</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Customer Service</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Most Populars</a></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Special Products</a></li>
                <li><a href="#">Manufacturers</a></li>
                <li><a href="#">Our Stores</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Warantee</a></li>
                <li><a href="#">Refunds</a></li>
                <li><a href="#">Checkout</a></li>
                <li><a href="#">Discount</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <p class="copy-text">Copyright © <a href="https://hasthemes.com/"> HasThemes</a>. All Rights
              Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Area End -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" role="dialog" tabindex="-1" th:fragment="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                aria-hidden="true">x</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 mb-lm-100px mb-sm-30px">
            <div class="quickview-wrapper">
              <!-- slider -->
              <div class="gallery-top">
                <div class="single-slide">
                  <img alt="" class="img-responsive m-auto" th:src="@{/assets/images/product-image/8.jpg}">
                </div>
                <div class="single-slide">
                  <img alt="" class="img-responsive m-auto" th:src="@{/assets/images/product-image/14.jpg}">
                </div>
                <div class="single-slide">
                  <img alt="" class="img-responsive m-auto" th:src="@{/assets/images/product-image/15.jpg}">
                </div>
                <div class="single-slide">
                  <img alt="" class="img-responsive m-auto" th:src="@{/assets/images/product-image/11.jpg}">
                </div>
                <div class="single-slide">
                  <img alt="" class="img-responsive m-auto" th:src="@{/assets/images/product-image/19.jpg}">
                </div>
              </div>
              <div class=" gallery-thumbs">
                <div class="single-slide">
                  <img alt="" class="img-responsive m-auto" th:src="@{/assets/images/product-image/8.jpg}">
                </div>
                <div class="single-slide">
                  <img alt="" class="img-responsive m-auto" th:src="@{/assets/images/product-image/14.jpg}">
                </div>
                <div class="single-slide">
                  <img alt="" class="img-responsive m-auto" th:src="@{/assets/images/product-image/15.jpg}">
                </div>
                <div class="single-slide">
                  <img alt="" class="img-responsive m-auto" th:src="@{/assets/images/product-image/11.jpg}">
                </div>
                <div class="single-slide">
                  <img alt="" class="img-responsive m-auto" th:src="@{/assets/images/product-image/19.jpg}">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="product-details-content quickview-content">
              <h2>Originals Kaval Windbr</h2>
              <p class="reference">Reference:<span> demo_17</span></p>
              <div class="pro-details-rating-wrap">
                <div class="rating-product">
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                </div>
                <span class="read-review"><a class="reviews" href="#">Read reviews (1)</a></span>
              </div>
              <div class="pricing-meta">
                <ul>
                  <li class="old-price not-cut">€18.90</li>
                </ul>
              </div>
              <p class="quickview-para">Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm tempor
                incidid ut labore et dolore magna aliqua. Ut enim ad minim venialo quis nostrud
                exercitation ullamco</p>
              <div class="pro-details-size-color">
                <div class="pro-details-color-wrap">
                  <span>Color</span>
                  <div class="pro-details-color-content">
                    <ul>
                      <li class="blue"></li>
                      <li class="maroon active"></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="pro-details-quality">
                <div class="cart-plus-minus">
                  <input class="cart-plus-minus-box" name="qtybutton" type="text" value="1"/>
                </div>
                <div class="pro-details-cart btn-hover">
                  <a href="#"> + Add To Cart</a>
                </div>
              </div>
              <div class="pro-details-wish-com">
                <div class="pro-details-wishlist">
                  <a href="wishlist.html"><i class="ion-android-favorite-outline"></i>Add to wishlist</a>
                </div>
                <div class="pro-details-compare">
                  <a href="compare.html"><i class="ion-ios-shuffle-strong"></i>Add to compare</a>
                </div>
              </div>
              <div class="pro-details-social-info">
                <span>Share</span>
                <div class="social-info">
                  <ul>
                    <li>
                      <a href="#"><i class="ion-social-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-social-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-social-google"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-social-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->
<div th:fragment="scripts">
<!-- JS
============================================ -->

<!-- Vendors JS -->
<script th:src="@{/assets/js/vendor/jquery-3.5.1.min.js}"></script>
<script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-migrate-3.1.0.min.js}"></script>
<script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>

<!-- Plugins JS -->
<script th:src="@{/assets/js/plugins/jquery-ui.min.js}"></script>
<script th:src="@{/assets/js/plugins/slick.js}"></script>
<script th:src="@{/assets/js/plugins/countdown.js}"></script>
<script th:src="@{/assets/js/plugins/scrollup.js}"></script>
<script th:src="@{/assets/js/plugins/elevateZoom.js}"></script>

<!-- Use the minified version files listed below for better performance and remove the files listed above -->
<!-- <script th:src="@{/assets/js/vendor/vendor.min.js}"></script>
        <script th:src="@{/assets/js/plugins/plugins.min.js}"></script> -->

<!-- Main Activation JS -->
<script th:src="@{/assets/js/main.js}"></script>
</div>
</body>
</html>