<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LocoWeb - Errore</title>
        <link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
    </head>
    <body>
        <div class="alert alert-danger w-50 mx-auto mt-5 text-center">
            <h1>Ops, si è verificato un errore!</h1>
            <p>Contattare <a href="mailto:mimmo@mail.it">mimmo@mail.it</a> per segnalare il problema.</p>
        </div>
    </body>
</html>

