<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head::head"></head>
<body>
<!--HEADER-->
<div th:replace="partials/header::header"></div>
<!--HEADER END-->
<!--MOBILE HEADER-->
<div th:replace="partials/header::header-mobile-navbar"></div>
<div th:replace="partials/header::header-mobile-search"></div>
<div th:replace="partials/header::header-mobile-category"></div>
<!--MOBILE HEADER END-->
<!--OVERLAYS-->
<div th:replace="partials/header::offcanvas-wishlist"></div>
<div th:replace="partials/header::offcanvas-cart"></div>
<div th:replace="partials/header::offcanvas-search"></div>
<div th:replace="partials/header::offcanvas-overlay"></div>
<!--OVERLAYS END-->
<!--++++++CONTENT++++++-->
<div th:replace="partials/home-content::slider"></div>
<div th:replace="partials/home-content::static-area"></div>
<div th:replace="partials/home-content::feature-area"></div>
<div th:replace="partials/home-content::banner-area"></div>
<div th:replace="partials/home-content::best-area"></div>
<div th:replace="partials/home-content::banner-area-2"></div>
<div th:replace="partials/home-content::arrival-area"></div>
<div th:replace="partials/home-content::banner-area-3"></div>
<div th:replace="partials/home-content::category-slider"></div>
<div th:replace="partials/home-content::brand"></div>
<div th:replace="partials/home-content::category"></div>
<div th:replace="partials/home-content::newsletter"></div>
<!--++++++CONTENT END++++++-->
<!--FOOTER-->
<div th:replace="partials/footer::footer"></div>
<!--FOOTER END-->
<!--MODAL-->
<div th:replace="partials/footer::modal"></div>
<!--MODAL END-->
<!--SCRIPTS-->
<div th:replace="partials/footer::scripts"></div>
<!--SCRIPTS END-->


</body>
</html>